[2015-03-09 13:46] yahyaKacem opened #1 "Brackets Extension Manager doesn't contain latest version"
I'm on ubuntu 14.04 using latest brackets Release 1.2 experimental build 1.2.0-15697 (release 8f82e2a97) I installed this plugin with the package manager, and put this .eslintrc file in the root of my project.

but Brackets give me this error in the ESLint console:

removing that line give me this error:

removing both works correctly.
if those are deprecated please update this [file](https://gith

[2015-03-09 19:05] zaggino commented on #1
Hi, use this way to install the extension: https://github.com/zaggino/brackets-eslint#install

Brackets' extension manager is broken, it doesn't allow me to upload the latest version (`comma-dangle` and `semi-spacing` are new rules introduced in `0.16.0`, the version in the extension manager is broken.

To execute ESLint on every file save in a project, place `.brackets.json` file in your project

[2015-03-12 09:06] stoffeastrom opened #2 "Upgrade to eslint 0.16.2"
Trying to use this with es6 but currently there is a bug that should be solved in latest eslint
http://eslint.org/blog/2015/03/eslint-0.16.2-released/

[2015-03-12 11:37] zaggino commented on #2
Latest version with `0.16.2` is in the master, but you have to install it manually for now:
https://github.com/zaggino/brackets-eslint#install

I'm working on method for installing extensions directly from npm but it's not ready yet.

[2015-03-12 11:37] #2 closed

[2015-03-12 12:01] stoffeastrom opened #3 "Error after manual install"
I get this error after manual install
ESLint terminated with error: Unable to load one of the modules: C:/Users/cam/AppData/Roaming/Brackets/extensions/user/brackets-eslint/domain, reason: Command zaggino.brackets-eslint.lintFile already registered

win7

[2015-03-12 12:08] zaggino commented on #3
check the extensions directory for the one installed from brackets registry and delete it, it should be called something like `zaggino.brackets-eslint` manually installed one has directory `brackets-eslint` and when you have both, they will conflict

[2015-03-12 14:28] stoffeastrom commented on #3
It was called zaggino.brackets-git
Works!

[2015-03-13 12:26] Hirse opened #4 "Support for custom rules"
ESLint allows to specify a directory from which to load rules files with the `--rulesdir` option.
The [ESLint CLIEngine](http://eslint.org/docs/developer-guide/nodejs-api#cliengine) has an option `rulePaths` which has the same functionality.

I suggest to search for folders with the name `.eslintrules` in the open project and add them to the rulePaths.
When I call ESLint from the project root on t

[2015-03-13 12:46] zaggino commented on #4
Definitely can do this - do you have any public repo I can test this on?

[2015-03-13 13:03] Hirse commented on #4
Sorry, no I don't. I would like to have this for work, but that code is not public naturally.
You can try this as rule:
[code]
Save it as `.eslintrules/no-window-alert.js` and add `"no-window-alert": 1,` to the rules.

[2015-03-13 20:53] zaggino commented on #4
Thanks. I'll finish this after the weekend. The sample rule is enough :)

[2015-03-22 23:43] zaggino commented on #1
Use https://github.com/zaggino/brackets-npm-registry from now on to install/update this extension.

[2015-03-23 00:29] zaggino commented on #4
@Hirse `brackets-eslint@0.17.2` has been published to npm which solves this, see [README](https://github.com/zaggino/brackets-eslint) for details.

[2015-03-31 08:14] stoffeastrom opened #7 "Upgrade eslint http://eslint.org/blog/2015/03/eslint-0.18.0-released/"
More es6 fixes. Maybe add a ^ before the eslint version in package.json?

[2015-03-31 09:31] zaggino commented on #7
Yes, you're right. Fixed in https://github.com/zaggino/brackets-eslint/commit/fbbeb76e600f460cedae1a35e1f527c9ae04edbd

[2015-03-31 09:31] #7 closed

[2015-04-07 06:41] #4 closed

[2015-04-07 06:44] Hirse commented on #4
Sorry, I didn't give any feedback before.
I tested it as soon as you merged the changes, but must have forgotten to reply.
Thanks for your good work.

[2015-04-07 17:09] globexdesigns opened #8 "Unable to load plugins"
In my .eslintrc I have this:

[code]

And I have the `eslint-plugin-react` module installed both inside my project root and globally (via `npm install -g eslint-plugin-react). However, brackets-eslint still displays this error:

[code]

[2015-04-08 00:31] #8 closed

[2015-04-08 00:34] zaggino commented on #8
@globexdesigns plugins has to be supported case by case, I didn't find a way to use globally installed ones so far, I've added `react` plugin to the version `0.18.1`

[2015-04-08 01:22] globexdesigns commented on #8
Thanks! Would it also be possible to add support for `babel-eslint`?

[2015-04-08 02:17] zaggino commented on #8
Why would you need `babel-eslint` ? Latest `espree` which is default parser for ESLint supports full ES6 now, or not?

[2015-04-08 12:49] zaggino commented on #8
Added in `0.18.2`

[2015-04-08 15:16] globexdesigns commented on #8
Unfortunately `esprima-fb` doesn't support destructuring spread attributes, ie:

[code]

It throws this error:

[code]

Whereas `babel-eslint` works just fine.

And the esprima team said they will not be fixing this: https://github.com/eslint/espree/issues/116

[2015-04-08 21:21] zaggino commented on #8
Didn't knew that :) Thanks for the info. As mentioned, I've added support to the latest version.

Out of curiosity, do you know if `babel-eslint` supports ES7 stuff like `async/await`?

[2015-04-08 22:17] globexdesigns commented on #8
Not sure. Sorry. But it seems to do a much better job at supporting React's JSX syntax than esprima-fb for some reason.

[2015-04-13 15:27] hindsholm opened #9 "Add support for AngularJS"
Nice Brackets plugin!

I just wish there were support for AngularJS.
There is a very good ESLint plugin for this: [eslint-plugin-angular](https://github.com/Gillespie59/eslint-plugin-angular).

[2015-04-13 21:12] #9 closed

[2015-04-13 21:19] zaggino commented on #9
Thanks. Added `eslint-plugin-angular` to the latest version.

[2015-04-14 06:21] hindsholm commented on #9
That was fast! Thank you.

[2015-04-14 06:33] #1 closed

[2015-04-14 06:36] zaggino commented on #8
`esprima-fb` is now going to be deprecated - http://bit.ly/1DD1zsv

[2015-04-14 08:27] AdriVanHoudt opened #10 "Support globally installed plugins"
Is there a possibility to properly support custom plugins? I had to install the plugin in the brackets-eslint project to make it work. The standard cli seems to find the plugin fine.

[2015-04-14 10:47] zaggino commented on #10
There should be, but my first attempt on this failed. I'll look into this more when I'll have time.

[2015-04-14 11:25] AdriVanHoudt commented on #10
if you are using the cli shouldn't it find the global plugins automatically?

[2015-04-14 12:17] zaggino commented on #10
No, this is using the `CLIEngine` provided by ESLint, I've tried setting the `NODE_PATH` but for some reason it didn't work to include the global plugins.

https://github.com/zaggino/brackets-eslint/blob/master/domain.js#L8-L9

[2015-04-14 13:01] AdriVanHoudt commented on #10
hmm the engine doesn't seem to work as the cli. normally it should see globally installed plugins (bug?) you could however add some config for it where you specify the plugin names and then `npm install` it into brackets-eslint. Not sure if that is a good solution though

[2015-04-15 10:48] zaggino commented on #10
I've tried using https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders
`NODE_PATH` environment variable set to location where global node modules are installed.

If I set I globally in my system, it works fine.
If I try to set it through `process.env.NODE_PATH=...` in `domain.js` file where `ESLint` is loaded, it doesn't work ... seems like node's `require` ignores modificati

[2015-04-15 10:54] zaggino commented on #10
So current workaround (not a solution I'd want) for custom modules to work is setting the `NODE_PATH` in the system, on my PC works: `NODE_PATH=C:\Users\Zaggi\AppData\Roaming\npm\node_modules`

[2015-04-15 11:01] zaggino commented on #10
Oh, I may have found a dirty private variable abusing workaround :)
[code]

[2015-04-15 13:25] zaggino commented on #10
Ok - in latest master, globally installed plugins work both on windows & linux. I'll add the correct mac path tomorrow and publish a new version of the extension.

https://github.com/zaggino/brackets-eslint/blob/master/domain.js#L7-L20

[2015-04-15 13:26] AdriVanHoudt commented on #10
cool thanks!

[2015-04-15 23:25] zaggino commented on #10
fixed in `brackets-eslint@0.19.1`
details in https://github.com/zaggino/brackets-eslint#additional-parsers-and-plugins
please close if fixed for you, thanks!

[2015-04-16 07:54] AdriVanHoudt commented on #10
hmm I have stuff in that path that works but if I `npm install -g` now it goes to ` c:\Program Files\nodejs\node_modules\npm` not sure why

[2015-04-16 08:02] zaggino commented on #10
You have some kind of non-standard nodejs installation?

[2015-04-16 08:07] AdriVanHoudt commented on #10
probably :D I have `C: \Users\adri\AppData\Roaming\npm` in my PATH maybe that has something to do with it?

[2015-04-16 08:09] AdriVanHoudt commented on #10
I have used a node version manager before so maybe that messed things up. I'll try uninstalling and reinstalling node

[2015-04-16 08:28] AdriVanHoudt commented on #10
Ok I uninstalled node and removed the 'special' npm location and then reinstalled node. Everything works now. Thanks for the effort!

[2015-04-16 08:28] #10 closed

[2015-04-28 05:26] axelssonHakan opened #11 "ESLint terminates with error: Definition for rule 'owner' was not found ."
At least that's what the "Problem log" says.
Seems to fail a bit to fast here :-)

[2015-04-28 06:04] zaggino commented on #11
What does your config file look like?

[2015-04-29 02:47] zaggino commented on #11
There's no rule `owner` in the http://eslint.org/docs/rules/ so it fails because of invalid configuration file.

[2015-04-29 02:47] #11 closed

[2015-05-01 11:28] keitha-cakewalk opened #12 "how to install so brackets can use it???"
I feel like I'm in a circular reference.  I have brackets-npm-registry correctly installed.
It appears in the brackets app as an Installed extension.  ESLint is listed in available but not compatible with version, click the more info link which loads the brackets-npm-registry page.
I have tried doing npm install brackets-eslint as well as npm install eslint within the brackets-npm-registry folder.

[2015-05-01 11:35] keitha-cakewalk commented on #12
Nevermind!  Just found the little npm button aha, so that's how it's done.

[2015-05-01 11:35] #12 closed

[2015-05-01 11:43] keitha-cakewalk commented on #12
This integration is AWESOME! THANKS!!!

[2015-05-01 12:19] zaggino commented on #12
:+1: glad you figured it out :)

[2015-05-11 09:42] AdriVanHoudt opened #13 "v0.21"
Can we have an update to 0.21? I want to use the new extends feature.

[2015-05-11 13:59] zaggino commented on #13
Done, btw with `brackets-npm-registry` doing `reinstall` should be enough because dependencies in `brackets-eslint` are configured to install the latest version available.

[2015-05-11 14:04] AdriVanHoudt commented on #13
thanks! but you hardcode the version right? https://github.com/zaggino/brackets-eslint/blob/master/package.json#L29

[2015-05-11 14:13] zaggino commented on #13
Ah you're right, it shouldn't be `^0.21.0` but `^0.21` or something like that. Maybe I'll just put `latest` in there.

[2015-05-11 14:18] AdriVanHoudt commented on #13
http://semver.npmjs.com/ ;) I tend to use .x notation like 1.x.x, but in this case you would go with ^0, this exludes alpha and dev versions and doesn't auto switch to the soon to come v1.0.0

[2015-05-11 14:20] AdriVanHoudt commented on #13
or 0.x.x whatever you suits you

[2015-05-11 14:24] zaggino commented on #13
Yes, I'll fix that ;)

[2015-05-11 14:43] AdriVanHoudt commented on #13
hmm I'm having an issue where the plugin from the base config which a extend doesn't work. I tested it with command line and that seems to pick it up. Probably has to do with how you detect plugins.

[2015-05-11 21:38] zaggino commented on #13
I'll need more info on that, which plugin, config and a sample of code where it should show an error :)

[2015-05-12 08:17] AdriVanHoudt commented on #13
Base config is from Lab https://github.com/hapijs/lab/blob/master/lib/linters/eslint/.eslintrc with `eslint-plugin-hapi` https://github.com/cjihrig/eslint-plugin-hapi

Code sample:
[code]
Should give warning that an empty line is needed after `function` like
[code]

[2015-05-12 08:19] AdriVanHoudt commented on #13
I do have the plugin globally but that probably doesn't work for plugins + extends feature

[2015-05-18 03:18] zaggino commented on #13
I've published `0.21.1` and now it's working fine for me:
![image](https://cloud.githubusercontent.com/assets/1067319/7673947/45e81e10-fd60-11e4-8cb4-611bb8d3546f.png)

only thing I had to do to test in my project was:
[code]
and added this to `.eslintrc` config:
[code]

[2015-05-18 07:52] AdriVanHoudt commented on #13
nice, thanks, everything works now! thanks for the efford

[2015-05-18 07:52] #13 closed

[2015-06-03 07:45] stoffeastrom opened #14 "ESLint terminated with error: cleanup"
Opening multiple instances with Brackets results in

ESLint terminated with error: cleanup

[2015-06-05 04:41] waffledonkey opened #15 "support .eslintignore?"
I was wondering if the roadmap includes a plan to support .eslintignore.  The same can be achieved using the inline comment syntax, but some of the js files come from bower and I'm reluctant to touch them as it feels like a slippery slope.  In some cases the files are so physically large (maybe?) that it completely hangs brackets. :(  I went to see what version of jQuery was in a project and shoul

[2015-06-05 04:44] waffledonkey opened #16 "ignore minified files"
I was pleasantly surprised to see Miguel Castillo's interactive linter ignore minified files and was wondering if you had plans to do something similar.  It's a fairly weak test in that it just looks at the amount of whitespace in a file, but it works well enough and is better than nothing.

[2015-06-08 15:33] zaggino commented on #14
That's a Brackets problem, not a one of this extension - https://github.com/adobe/brackets/issues/10842

[2015-06-08 15:33] #14 closed

[2015-06-08 15:35] zaggino commented on #15
Thanks for the issue, this should definitely be supported.
For reference: http://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories

[2015-06-08 15:35] zaggino commented on #16
Yes, I can definitely do this when I'll have some free time.

[2015-06-09 17:00] AdriVanHoudt opened #17 "Plugins + extends not working on Mac"
I'm using Lab which uses eslint-plugin-hapi (https://github.com/cjihrig/eslint-plugin-hapi) and I extend the config from lab (https://github.com/hapijs/lab/blob/master/lib/linters/eslint/.eslintrc) and it's not working.
I've tried installing globally and in the folder of brackets-eslint and in the node_modules of my project

[2015-06-11 09:19] AdriVanHoudt commented on #17
seems like only hapi-capitalize-modules is not being found, weird

[2015-07-01 09:23] AdriVanHoudt commented on #17
seems to work now, weird stuff :P

[2015-07-01 09:23] #17 closed

[2015-07-13 02:14] zaggino commented on #15
This feature should be now supported in the latest version of `brackets-eslint`. Can you update and provide feedback please? Thanks

[2015-07-13 02:15] zaggino commented on #16
Isn't this covered by https://github.com/zaggino/brackets-eslint/issues/15 ?

[2015-07-13 17:21] waffledonkey commented on #15
That seems to work a treat, thanks.

:::air five:::

[2015-07-13 17:21] #15 closed

[2015-07-20 18:52] AdriVanHoudt opened #18 "Error: not found: npm"
[code]

Also I get this but not sure if related
[code]

And the global packages are not working for me, on a mac now :/

[2015-07-20 20:58] zaggino commented on #18
Can you try `which npm` from the console please?

[2015-07-20 21:00] AdriVanHoudt commented on #18
`/usr/local/bin/npm`

running just `npm` returns
`npm@2.13.1 /usr/local/lib/node_modules/npm` (last line)

[2015-07-20 21:06] zaggino commented on #18
Ok, thanks, I'll check what's the issue today.

[2015-07-20 22:21] zaggino commented on #18
@AdriVanHoudt can you try installing `0.24.2`? just updated

[2015-07-22 07:40] AdriVanHoudt commented on #18
@zaggino seems to work at first glance, what changed?

[2015-07-22 07:53] zaggino commented on #18
seems that for some reason, when you launch node through brackets, `/usr/local/bin` is not in the `PATH` env variable ... my best guess the node within brackets is running under a different user or with some different permissions?

https://github.com/zaggino/enable-global-packages/blob/master/index.js#L10-L17

[2015-07-22 11:37] AdriVanHoudt commented on #18
Nice thanks, I will close this because it looks fixed, if it comes up again I will reopen again.

[2015-07-22 11:37] #18 closed

[2015-08-10 14:44] boldt opened #19 "Can't install under "Build 1.4.0-16380""
I tried to install under "Build 1.4.0-16380" and I am getting the error, that a newer version of Brackets is required.

[2015-08-10 22:27] zaggino commented on #19
See README -> How to install

https://github.com/zaggino/brackets-eslint#how-to-install

[2015-08-10 22:27] #19 closed

[2015-08-11 14:43] boldt commented on #19
Thanks for the hint, with `brackets-npm-registry` it works.

[2015-09-11 22:53] #16 closed

[2015-09-22 06:14] petetnt opened #20 "ESLint terminated with error: cleanup (continued...)"
Continuing from adobe/brackets/issues/11613 (and adobe/brackets/issues/10842 and zaggino/brackets-eslint/issues/14...)

While trying to debug this issue, I have tried all the steps mentioned in adobe/brackets/issues/11613 (disabling NodeSearch, running from a lightning fast SSD instead of a network drive...) plus things like removing all the global modules, removing all the extensions sans `bracke

[2015-09-22 10:08] zaggino commented on #20
`Cleanup` means that Brackets got disconnected from Node, in case of `brackets-git` it happens when I try to send a large message through socket but `brackets-eslint` should never produce messages that large. It's interesting it happens only on startup. I'm using `NodeDomain` utility here, it might be worth exploring if it reconnects correctly when disconnected. In `brackets-git` I use manual solu

[2015-09-22 13:17] zaggino commented on #20
@petetnt does brackets-git work well for you on your machine? I can't replicate this but if yes, I can port some of brackets-git internals into brackets-eslint to see, if it fixes your problem.

[2015-09-23 08:51] petetnt commented on #20
@zaggino Tried out brackets-git just now (awesome extension btw!) and it works perfectly as far as I can see.

[2015-09-23 09:48] zaggino commented on #20
@petetnt I have published `brackets-eslint@1.5.0`, can you please try that one? It might take 15-20 for npm registry to update. Let me know how did you go please.

[2015-09-23 09:51] petetnt commented on #20
@zaggino `brackets-eslint@1.5.0` fixed all the problems I were having. Thanks a ton :+1:

[2015-09-23 09:51] #20 closed

[2015-09-23 09:58] zaggino commented on #20
Cool :+1:

[2015-11-20 16:57] soluml opened #21 "Extension requires a newer version of Brackets"
If you search for this extension in the Brackets (1.5) repo, you'll find that there's a yellow message stating that the user needs a newer version of Brackets to install this plugin.  Brackets 1.5 is the latest as of this writing.

Looks like the [`engines.brackets`](https://github.com/adobe/brackets/wiki/Extension-package-format#details) property in your [package.json](https://github.com/zaggino/

[2015-11-20 18:40] zaggino commented on #21
@soluml see README: https://github.com/zaggino/brackets-eslint#how-to-install

this extension is not possible to install without npm so you'll need to use [brackets-npm-registry](https://github.com/zaggino/brackets-npm-registry)

[2015-11-20 18:40] #21 closed

[2016-01-06 21:03] anIddan opened #23 "No support for JSX syntax highlight"
I've been using this extension for some time and I love it! Lately a great port for CodeMirror's syntax for JSX was ported correctly to Brackets (https://github.com/apla/brackets-jsx) and I was wondering: can you can make it work with the plugin?

[2016-01-06 22:14] zaggino commented on #23
@anIddan That should be resolved by https://github.com/zaggino/brackets-eslint/pull/22
cc @petetnt

[2016-01-09 12:33] ForbesLindesay opened #24 "Doesn't work with locally installed packages"
I wanted to use this with my project, but I use a preset that I install via npm.  Because we want to make sure everyone on the project has the same version of the preset, we install it locally as a `devDependency`.  This is the generally recommended best practice.

Unfortunately, brackets-eslint seems to only load packages that have been installed globally.  Could it be fixed to load local package

[2016-01-09 12:34] ForbesLindesay commented on #24
It would also be great if it could use the locally installed copy of eslint where possible.  That would help ensure everyone stayed properly in sync with the project.

[2016-01-09 22:07] zaggino commented on #24
Hi, yes, definitely, I'll have a look at it.

[2016-01-10 23:39] zaggino commented on #24
@ForbesLindesay Upgraded to `brackets-eslint@2.1.0`. Locally installed plugins (and also ESLint itself) should be now picked up before global ones.

[2016-01-17 16:25] TotallyInformation opened #25 "Does not install using standard tools"
Hi, not sure why you've decided not to use the standard package manager?

I really don't want to have to think about 2 different ways of installing and updating packages for my editor, it is really annoying.

Please consider changing to support the standard package manager so that we can all enjoy the benefits of ESLint without having to mess around.

[2016-01-17 21:18] zaggino commented on #25
Due to limits of standard package manager for Brackets, it's not possible to include `node_modules` with large size and large amount of files in the package.

Related: https://github.com/adobe/brackets/pull/10602

[2016-01-17 21:21] TotallyInformation commented on #25
OK, thanks for clarifying. I still can't quite work out whether I prefer Atom or Brackets. Neither is really perfect.

[2016-01-17 21:21] #25 closed

[2016-02-01 00:15] r-flash commented on #23
It actualy works with JSX UNLESS the apla/brackets-jsx extension is installed.

I really don't understand the Brackets' language system well, but i'd guess that the problem comes from the mechanism brackets-jsx uses to target .jsx files [here](https://github.com/apla/brackets-jsx/blob/83bf673bb96f38a9e022381c65f1b2f68bb6dd2f/main.js#L1243).

[2016-02-01 00:24] zaggino commented on #23
Have you tried installing the latest version @r-flash ?
@anIddan @petetnt Can you also test this please ?

[2016-02-01 00:30] r-flash commented on #23
@zaggino yes, i tested it with last versions of both extensions.

[2016-02-01 00:44] #23 closed

[2016-02-01 00:45] zaggino commented on #23
Let me know how you'll go with `2.1.2`

[2016-02-01 00:52] r-flash commented on #23
Works for me! Thanks, this war really quick.

[2016-02-01 01:08] #24 closed

[2016-02-01 06:28] petetnt commented on #23
Yup, there's that caveat as mentioned in my PR: https://github.com/zaggino/brackets-eslint/pull/22#issue-124915963 (`brackets-jsx` messes up with the language id's).

https://github.com/zaggino/brackets-eslint/commit/6ee83a0dd8c943f9fc80a65ee3f61d7386d79148 is a good temp fix, should be reverted when https://github.com/adobe/brackets/pull/12177 lands

[2016-02-01 15:04] kmturley commented on #3
I'm getting a similar error:

    ESLint terminated with error: Unable to load one of the modules: C:/Users/Kim T/AppData/Roaming/Brackets/extensions/user/brackets-eslint/domain, reason: Cannot find module 'eslint'

Windows 10.

I presume this is because the eslint module is not installed? I tried this but no luck:

    npm install eslint -g

[2016-02-01 20:21] zaggino commented on #3
@kmturley Did you do the `npm install` in the `C:/Users/kmt/AppData/Roaming/Brackets/extensions/user/brackets-eslint` directory? Has it created `node_modules` with `eslint` inside it?

[2016-02-01 20:55] kmturley commented on #3
Yep, it didn't have the npm_modules folder after installation (is this a bug?). So then I tried the following command within the directory C:\Users\kmt\AppData\Roaming\Brackets\extensions\user\brackets-eslint:

    npm install

That has fixed it. I needed to restart Brackets to get it to work!

[2016-02-01 21:08] zaggino commented on #3
It is not a bug, it is your mistake :)
If you've used brackets-npm-registry, it executes npm install automatically.

[2016-02-01 21:08] #3 closed

[2016-02-01 21:09] kmturley commented on #3
ah gotcha, thanks!

[2016-02-11 11:29] ckoo7 opened #27 "Getting this eslint error"
![screenshot from 2016-02-11 16-58-22](https://cloud.githubusercontent.com/assets/8359963/12975346/db0c1c22-d0e0-11e5-9398-c74fec9a6129.png)
How to solve this issue

[2016-02-11 22:44] zaggino commented on #27
That seems like an error in the react plugin for ESLint, not the ESLint itself

[2016-02-12 07:11] ckoo7 commented on #27
Thanx

[2016-02-12 07:11] #27 closed

[2016-04-08 08:13] AdriVanHoudt opened #28 "Parsing error: The keyword 'const' is reserved"
Not sure why but somehow it started giving me this error.
I have `es6: true` in my .eslintrc.js
Running eslint from command line works fine and setting env inline in the file also works

any ideas on how to fix or debug?
I tried: reinstall (hence how I found the registry error ;)), using `root: true`, using old .eslintrc

[2016-04-08 10:38] zaggino commented on #28
@AdriVanHoudt if `brackets-eslint` founds a eslint in your project (https://github.com/zaggino/brackets-eslint/blob/master/domain.js#L62) then it'll use that version and version installed by npm-registry won't matter. Check your project if you don't have an old version of eslint maybe?

[2016-04-08 12:01] AdriVanHoudt commented on #28
I logged cli and current version (https://github.com/zaggino/brackets-eslint/blob/master/domain.js#L118-L119:

[code]
it is missing the config file? (version is fine btw)

[2016-04-08 12:49] zaggino commented on #28
When `useEslintrc: true` you shouldn't need to specify path to config file. I use this extension across about 8-10 projects daily with different configs and it works fine, most of them use `const` too. But feel free to experiment, maybe you ran into some edge case or something.

[2016-04-08 12:51] AdriVanHoudt commented on #28
yeah I have used it too across many different projects, it somehow broke for some reason :(

[2016-04-08 12:51] zaggino commented on #28
If I check here: http://eslint.org/docs/user-guide/configuring
With latest eslint, it should be `"ecmaVersion": 6,` and not `es6: true` ?

[2016-04-08 12:53] zaggino commented on #28
Does your project work fine if you check it using `eslint 2.7.0` from command line? Without Brackets?

[2016-04-08 12:55] AdriVanHoudt commented on #28
es6: true is still a thing, tried with ecmaVersion but no difference, I made a new js file and it does not lint with my config at all

yes it works with running `eslint .` in project root

[2016-04-08 12:57] zaggino commented on #28
I'm guessing it's not something you have lying around publicly on github? :)

[2016-04-08 13:01] AdriVanHoudt commented on #28
the project or config?

also switched to another project with it's own eslintrc and that uses const and no error, switch back, const error gone but now complains about default rules (like indents), owke...

[2016-04-08 13:29] zaggino commented on #28
well, the whole repo with config ... or at least a config with a file which replicates the problem when I fetch it

[2016-04-08 14:25] AdriVanHoudt commented on #28
this errors for me https://gist.github.com/AdriVanHoudt/2a1f92e22a966cc16a86ad4350aca81c

[2016-04-08 14:27] AdriVanHoudt commented on #28
ok switched from that thing to my repo and now works fine O_0

[2016-04-08 14:28] AdriVanHoudt commented on #28
restart brackets, fails again... some wizardry going on

[2016-04-08 14:46] zaggino commented on #28
Try removing the `extends: 'eslint-config-hapi',` from your config ...

[2016-04-08 14:47] AdriVanHoudt commented on #28
nope :/

[2016-04-08 14:49] zaggino commented on #28
That's weird, I only get the `const` error when eslint-config-hapi extension is enabled. If I remove it, restart, validation passes.

[2016-04-08 14:49] zaggino commented on #28
Seems like some parts don't reload when switching files/projects how they should, I'll investigate that point soon next week.

[2016-04-08 15:00] AdriVanHoudt commented on #28
cool, thanks for helping!

[2016-04-09 00:45] zaggino commented on #28
@AdriVanHoudt try `brackets-eslint@2.1.4`

[2016-04-09 09:22] AdriVanHoudt commented on #28
seems to be working! thank you so much! :tada:

[2016-04-09 09:22] #28 closed

[2016-04-09 09:49] zaggino commented on #28
Happy to help ;)

[2016-04-15 20:26] kamikaz1k commented on #9
Hey guys, how do you integrate eslint-plugin-angular?
I tried installing it within the Brackets\extensions\user\brackets-eslint directory, but the angular rules were being marked as undefined rules.

I also tried installed the plugin globally, but the same error persisted.
@hindsholm your help would be appreciated!

[2016-04-15 22:48] zaggino commented on #9
@kamikaz1k brackets-eslint should now pick it up from your project if you do:
[code]

[2016-06-23 22:48] papigers opened #34 "Missing from brackets-npm-registry"
Can't find it there...

[2016-06-24 10:43] zaggino commented on #34
thanks @papigers , looking into it, see the linked issue above

[2016-07-02 15:46] marianobianchi opened #35 "Global node modules not found"
Hello,

I recently started to write some code using AngularJS and I'm getting used to work in nodejs/npm environments. When configuring my global npm modules path I followed [these](https://docs.npmjs.com/getting-started/fixing-npm-permissions) instructions.

Later, when I tried to use this brackets extension with angularjs plugin I got an error saying that the plugin wasn't found although I have

[2016-07-08 01:06] zaggino commented on #35
`NODE_PATH` env variable should be enough (it is on my pcs) but if you want to submit a PR to check the `npm config get prefix` then go ahead, it'll be welcome if it fixes situation on your machine

[2016-07-11 03:23] sradevski opened #36 "eslint@3.x support not possible until brackets update bundled node version to 4.x"
The extension cannot load the eslint client. I tried installing eslint globally and locally, both running fine, but when run from Brackets.io it cannot load the client. I am running brackets on MacBook Pro, El Capitan.

[2016-07-11 07:17] AdriVanHoudt commented on #36
I am having the same issue here. I think this has to do with eslint 3 requiring node >= 4, @zaggino any suggestions on how this could be solved? Seems like Brackets needs to update it's internal version of node or could this plugin do this?

[2016-07-11 22:17] zaggino commented on #36
hmm, extension probably won't be able to do anything with this, it's brackets problem

[2016-07-12 07:32] AdriVanHoudt commented on #36
do you know if brackets has an initiative to up the node version?

[2016-07-12 10:29] petetnt opened #37 "Setting gutterMarks on ignored file patterns (such as dotfiles) fail"
Steps to repro:

0. In a project that contains an `.eslintrc`...
1. Create `.foo.js` and open it
2. Timeout error is show on the lint panel and the following error is logged:

[code]

Following lines are the ones relevant to `brackets-eslint`:
https://github.com/zaggino/brackets-eslint/blob/master/main.js#L93.
https://github.com/zaggino/brackets-eslint/blob/master/src/GutterManager.js#L125
https:/

[2016-07-12 10:54] petetnt commented on #37
Okay, the issue is due to this error:

[code]
which doesn't contain line formation.

[2016-07-12 23:20] #37 closed

[2016-07-12 23:22] zaggino commented on #36
@AdriVanHoudt I don't believe brackets have an initiative to do anything except get the brackets code to new dreamweaver at the moment, atom or vs-code might be better alternatives at the moment

[2016-07-13 08:07] AdriVanHoudt commented on #36
new dreamweaver? Also I just updated and it works again, I think it i fine as long as my config does not include eslint > 3 rules

[2016-07-13 09:08] AdriVanHoudt commented on #36
Ok so it works when my project also has an eslint of < 3 :/

[2016-07-13 09:18] zaggino commented on #36
@AdriVanHoudt
http://blog.brackets.io/2015/10/05/update-from-the-adobe-brackets-team/
http://blogs.adobe.com/dreamweaver/2015/10/next-generation-of-dreamweaver.html

[2016-07-13 10:31] AdriVanHoudt commented on #36
Hmm feels like the project is slightly dying out seeing how old that is and looking at the recent commits, which are mostly translation updates

[2016-07-14 19:05] PeterVermont opened #39 "Auto-fix doing nothing"
I am using Barackets Release 1.7 build 1.7.0-16898 (release b0a363b71) with brackets-eslint 2.5.0 installed by url.

Auto-fix seems to have no affect.

[2016-07-30 06:22] zaggino commented on #39
@PeterVermont  if you use command line with `--fix` does it do something? Extension is just supposed to do that. It doesn't fix every problem.

http://eslint.org/docs/user-guide/command-line-interface

[2016-07-30 06:22] #35 closed

[2016-07-30 06:23] zaggino commented on #34
it's back there, I didn't change anything, probably a temporary error in the registry index

[2016-07-30 06:23] #34 closed

[2016-07-30 09:20] zaggino commented on #36
@sradevski @AdriVanHoudt published `brackets-eslint@2.6.0`

i put a check if it detects eslint@3.x, then fallback to use latest eslint@2.x instead of failing completely

only thing I could think of

[2016-08-01 07:16] AdriVanHoudt commented on #36
@zaggino I am not seeing the plugin in npm registry any more, I can see it in the plugins thing  but that is v 0.17 and it does not allow me to install it. Any way you unpublished it or something?

[2016-08-01 07:19] zaggino commented on #36
@AdriVanHoudt Nothing is unpublished, registry builder uses `npmsearch.com` site to search for extensions but it seems quite unreliable. Must look at some other npm search provider.

[2016-08-01 07:27] AdriVanHoudt commented on #36
ah I see, weird that it can't find just that one, no way you can use npm's api (if they have one)?

[2016-08-01 09:03] zaggino commented on #36
They don't, not that I know of. I'll try to get it up and running somehow.

[2016-08-01 09:29] AdriVanHoudt commented on #36
@zaggino thanks a lot for the effort! 🔥

[2016-08-02 02:06] zaggino commented on #36
@AdriVanHoudt pushed out new server version of `brackets-npm-registry` using actual urls that npm itself calls (by debugging the client) and `brackets-eslint` is back in there ;)

[2016-08-02 07:22] AdriVanHoudt commented on #36
@zaggino seems to work now! Now since the last eslint release it messed something up with the indent so I needed to add a config to the rule which eslint 2 does not like :( dumb that v2 does not just ignore it
hopefully brackets will update to node 4 or up. If there is no intention to I might switch IDE sadly

[2016-08-05 02:43] zaggino commented on #36
@AdriVanHoudt doing progress of getting new node (and eslint 3.x support with it) into brackets: https://github.com/adobe/brackets/pull/12647

[2016-08-05 09:08] AdriVanHoudt commented on #36
@zaggino following it and looks great!

[2016-08-05 10:59] #39 closed

[2016-08-07 15:04] Iskander508 opened #40 "Hover tooltip on guttermarks"
Could a tooltip with eslint warning/error message text be displayed when hovering by mouse over the guttermarks? It's a bit clumsy to lookup the message using line number in the (bottom) report panel.

[2016-08-07 22:02] zaggino commented on #40
Added in `2.9.0`

![image](https://cloud.githubusercontent.com/assets/1067319/17465587/7ac07918-5d3e-11e6-9c30-1deedbd28538.png)

[2016-08-07 22:02] #40 closed

[2016-08-08 06:15] Iskander508 commented on #40
Perfect job!

[2016-08-09 16:10] toxicbeaver opened #41 "Problem with configuring eslint"
Hello

I have a problem with configuring eslint in Brackets. It doesn't matter where I put my .eslintrc file (either \Brackets\extensions\user\brackets-eslint or the project folder) I always get an error in gutter:

`ESLint terminated with error: ENOENT, no such file or directory`

Console log in F12 throws this error:

`[CodeInspection] Provider ESLint (async) failed: ENOENT, no such file or dire

[2016-08-09 20:29] zaggino commented on #41
Released `2.9.2`, can you please try to reinstall, close and re-open brackets and let me know if it fixes the problem?

[2016-08-11 06:58] entepe85 opened #42 "Can't install through brackets-npm-registry"
Using Brackets 1.7 (w/ Extract) on OSX 10.11.6 I get the following error upon installation of ESLint through brackets-npm-registry:

`ERROR: "Error: spawn ENOENT\n    at errnoException (child_process.js:980:11)\n    at Process.ChildProcess._handle.onexit (child_process.js:771:34)"`

[2016-08-11 06:59] entepe85 commented on #42
Both uninstalling and reinstalling the extension and restarting Brackets unfortunately didn't fix the issue.

[2016-08-11 07:23] zaggino commented on #42
@entepe85 you can try manual installation, follow the steps here:
https://github.com/zaggino/brackets-npm-registry#how-to-install-brackets-npm-registry
but replace all occurences of `brackets-npm-registry` for `brackets-eslint`
Let me know if that worked for you.

[2016-08-11 07:23] zaggino commented on #42
[code]

[2016-08-11 07:31] entepe85 commented on #42
Yeah, that fixed it. Seems like stupid me didn't think of the manual installation.

One thing I noticed, though: When I first tried updating brackets-eslint through the npm-registry GUI, the command `typings install` threw an error, so I globally installed the typings package.

[2016-08-11 07:31] #42 closed

[2016-08-11 07:33] zaggino commented on #42
That error with typings should be now fixed with version `2.9.5`

[2016-08-11 14:22] zaggino commented on #41
Hi, with `2.9.5` when you open the brackets console (F12 or Debug->Show developer tools) you should see more information about the error. Look for anything that mentions `brackets-eslint` and paste it here.

[2016-08-18 17:15] ReyPena opened #43 "Extension error by brackets"
So I had this error #42 and I try to install it manually but after manual installation brackets tell me no linter available for JavaScript.
manual installation been:
[code]
I run `npm test` to check if there was something wrong on the build but no error any way to fix this ?
brackets -v 1.7

[2016-08-18 20:16] ReyPena commented on #41
I have the same error #43 the output is:
[code]

[2016-08-18 23:13] zaggino commented on #41
Is there anything before the line `[CodeInspection] Provider ESLint (async) failed` ?

[2016-08-18 23:16] zaggino commented on #43
No idea, I have just installed the extension in a same way and it works.

[2016-08-19 13:49] ReyPena commented on #41
I'm using a this: https://launchpad.net/~webupd8team/+archive/ubuntu/brackets
This is all the dev-tools show:

[code]

[2016-08-19 13:51] ReyPena commented on #43
When I do this is like the eslint extension is not there and brackets tell me that there is not a linter for JavaScript.

[2016-08-19 13:57] zaggino commented on #41
Seems like `brackets-emmet` extension is broken, have you tried removing it?

[2016-08-31 00:43] GusGF commented on #41
Getting this ESLint problem "ESLint terminated with error: ENOENT, no such file or directory". I am new to Javascript and only getting the hang of Brackets. Have copied the extract below from the console.

[CodeInspection] Provider ESLint (async) failed: ENOENT, no such file or directory(anonymous function) @ /language/CodeInspection.js:278

console.error("[CodeInspection] Provider " + provider.na

[2016-08-31 05:01] zaggino commented on #41
@GusGF try again with version `2.9.7` please.

[2016-08-31 17:23] GusGF commented on #41
Absolutely made no difference still getting the same error :(

[2016-08-31 19:52] zaggino commented on #41
Can any of you guys give me a project to clone that replicates this issue?

[2016-08-31 20:39] GusGF commented on #41
I've done up a simple Brackets project which I can send to you.

[2016-08-31 21:03] zaggino commented on #41
zaggino at gmail, thx

[2016-08-31 23:49] zaggino commented on #36
@AdriVanHoudt this is now fixed in https://github.com/zaggino/brackets-electron/releases
still waiting for the team to approve changes to land in regular brackets too

[2016-09-01 00:42] zaggino commented on #41
Updated to `2.9.8`, please provide exact copy-paste from error console, I'm shooting blind here but I've updated the error logging.

[2016-09-01 00:44] zaggino commented on #43
@ReyPena can you provide full logs from the error console (F12) ?

[2016-09-01 15:07] guess-and-correct commented on #41
Looks like something different got broken. Drawer notification:
`ESLint zakończył z błędem: TypeError: Cannot call method 'executeOnText' of undefined`

Console output:
`NodeDebugUtils.js:114 [node-error 5:03:02 PM] [brackets-eslint] { [Error: Cannot find module 'escope'] code: 'MODULE_NOT_FOUND' }handleLogEvent @ NodeDebugUtils.js:114
NodeDebugUtils.js:114 [node-error 5:03:02 PM] [brackets-eslint

[2016-09-01 15:51] GusGF commented on #41
I've taken a screen print for you, let me know if this isn't enough.

I haven't updated yet as I've seen there is a message from Karol regarding
something else not working.

Should I still go ahead and update to 2.9.8?

Regards
Fergus

On 1 September 2016 at 01:42, Martin Zagora <notifications@github.com>
wrote:

[2016-09-01 23:13] zaggino commented on #41
Thanks guys `2.9.10` released. Added a bit more information into the logging.
`Cannot call method 'executeOnText' of undefined` means that `eslint` wasn't able to load properly. Please try `2.9.10` and let me know how the console errors look now.

[2016-09-01 23:55] guess-and-correct commented on #41
It works! Thank you.

[2016-09-02 00:19] GusGF commented on #41
BY GEORGE!! I do believe that's worked, well done kind sir :)

[2016-09-02 00:22] zaggino commented on #41
:beers:

[2016-09-02 00:22] #41 closed

[2016-09-03 11:49] GusGF opened #44 "disabling JSLint in favour of ESLint"
Sorry to ask this as it's not something you should be answering but I've installed ESLint but JSLint is still active in Brackets how can I disable JSLink in favour of ESLint and have it so for all new files/scripts.

[2016-09-03 12:05] GusGF commented on #44
It's okay got my answer...you can turn off JSLint completely in Brackets by unchecking View > Lint Files on Save.

[2016-09-03 12:05] #44 closed

[2016-09-03 13:20] GusGF opened #45 "Have I installed properly ESLint?"
As a complete newbie to JS I've got a simple brackets project. I can run a JS script and it works. But I'm not sure ESLint is activated as when I change the JS code to throw an error nothing comes up so there is no sign ESLint is working and activated (JSLint in contrast was throwing up so many messages ). I've followed the installation steps and can see ESLint in the Brackets extension manager an

[2016-09-03 13:25] GusGF commented on #45
Okay realised I'd turned off the "Lint files on save" in the View menu. Did this as JSLint spouts out so much. Any idea on how I disable JSLint completely?

[2016-09-04 00:10] zaggino commented on #45
I use these files in project roots: https://github.com/zaggino/brackets-eslint/blob/master/.brackets.json
You can also set it globally in brackets preferences.
JSLint should be moved out of default installation in next versions.
Until then you can go to your Brackets installation directory and delete /www/extensions/default/JSLint folder.

[2016-09-04 14:43] zaggino commented on #44
Disabling `Lint Files on Save` disables all code linting, so brackets-eslint too. Proper way would be to delete the JSLint default extension from the Brackets folder.

[2016-09-05 12:16] GusGF commented on #44
Hi Martin,
Thanks for all your help. I've deleted the JSLint folder and that's got rid of the pesky warnings from JSLint. :)

[2016-09-09 20:29] matronator opened #46 "How to configure (missing link in README file)?"
So I have everything installed in brackets but only error it shows is when I put single (unclosed) curly bracket somewhere in the code. Otherwise it always shows green check mark even when there are errors. So I guess I must configure it somehow but I can't find clear instructions and the link to sample file in README.md is dead. How should the config file look, where do I put it and is there anyt

[2016-09-09 20:32] zaggino commented on #46
You configure it the same way you'd configure eslint without Brackets. Just place `.eslintrc` file in your project like you can see for example here: https://github.com/adobe/brackets

Read more here: http://eslint.org/docs/user-guide/configuring

[2016-09-09 20:34] zaggino commented on #46
Extension should provide you the same results/checks that you get when you run `eslint .` from the command line/terminal of your project directory.

[2016-09-09 20:35] zaggino commented on #46
Tip: go to your project folder and run:
[code]
That will create a configuration file for you.

[2016-09-09 20:40] matronator commented on #46
Thanks! :)

[2016-09-09 20:40] #46 closed

[2016-09-19 16:11] healthypets opened #47 "eslint-config-angular support"
Is it possible to get this working with eslint-config-angular?

I have been having issues with it not finding the module, even though I have tried both global and local installations.

Thanks!

[2016-09-19 19:02] zaggino commented on #47
Can you provide a link to your project on github?
Or create a sample one if you don't have it.
Thanks

[2016-09-19 20:01] healthypets commented on #47
https://github.com/healthypets/project-base

Wasn't sure if you wanted the node modules or not so I intentionally left them. Can do a clean install if necessary. ESLint in brackets throws a 'cannot find module eslint-config-angular' error when trying to lint inside of brackets for lint-test.js

[2016-09-19 20:25] zaggino commented on #47
So, your project is using `eslint-config-angular` but the error message says this:

![image](https://cloud.githubusercontent.com/assets/1067319/18647754/e05da894-7efa-11e6-8650-d91bc7b3630c.png)

You can fix it by doing `npm install --save eslint-plugin-angular` in your project. After that:

![image](https://cloud.githubusercontent.com/assets/1067319/18647781/fe24289e-7efa-11e6-9c3e-433128d8cf9f.p

[2016-09-19 20:46] zaggino commented on #36
Latest pre-release of Brackets supports this too: https://github.com/adobe/brackets/releases

[2016-09-19 20:46] #36 closed

[2016-09-19 20:46] #43 closed

[2016-09-19 20:46] #45 closed

[2016-09-19 21:03] healthypets commented on #47
Hmm perhaps there is a difference in environment here then.

Mine is showing:

[code]

I'm on Windows, though that's likely not the only env difference.

[2016-09-19 21:18] zaggino commented on #47
What version of Brackets are you running?

[2016-09-19 21:19] zaggino commented on #47
I recommend trying out latest 1.8 pre-release from here: https://github.com/adobe/brackets/releases or my electron build from here: https://github.com/zaggino/brackets-electron/releases

Brackets before 1.8 doesn't work with eslint version 3

[2016-09-19 21:21] healthypets commented on #47
Currently running Release 1.7 so that would make sense. I'll install that release. Apparently I missed that memo, thanks!

[2016-09-19 21:26] zaggino commented on #47
https://github.com/zaggino/brackets-eslint/issues/36

[2016-09-19 21:26] zaggino commented on #47
Let me know if the upgrade to 1.8 did work for you please.

[2016-09-19 21:38] healthypets commented on #47
Updated the to latest 1.8 pre-release from Brackets. Still getting the following:

[code]

If I just have base rules in the .eslintrc.js then it seems to function fine. It just can't seem to find the module when I use: "extends": "angular"

[2016-09-19 21:45] zaggino commented on #47
When you open brackets console (Debug > Show developer tools or F12), do you have anything else there?

[2016-09-19 21:52] healthypets commented on #47
[code]

[2016-09-19 23:24] zaggino commented on #47
I have now tried on second windows machine with your project and `npm install eslint-plugin-angular` fixes it again. Can't help here. (I'm using brackets-electron for windows on both but that should not make a difference)

[2016-09-20 00:52] healthypets commented on #47
Okay, I will look at setting this up on a clean virtual machine. An acquaintance tried this as well and had the same issue not being able to find the config module. Perhaps a clean env will be different.

Thanks for your time!

[2016-09-20 01:01] zaggino commented on #47
I'd be interesting to find out what the problem is. If you wan't me to provide any settings, installed apps or whatever from my windows machines, let me know. But they are quite normal, latest versions of node, npm, git, etc.

[2016-09-20 01:02] zaggino commented on #47
Please also be sure to test this with https://github.com/zaggino/brackets-electron/releases too when you're at it, thanks!

[2016-09-20 03:00] zaggino commented on #47
I've also released `brackets-eslint@3.0.0` which includes a fair bit of refactoring, maybe that'll help too.

[2016-09-20 18:37] guess-and-correct commented on #47
Updated Brackets to 1.8 and now ESLint doesn't work at all.
It worked just fine with 1.7, but now there's no coming back.

`ESLintError: Legacy node process detected, please update to Brackets 1.8 or Brackets-Electron`

[2016-09-20 21:13] zaggino commented on #47
Did you install Brackets 1.8 from here? https://github.com/adobe/brackets/releases

[2016-09-20 21:24] zaggino commented on #47
@guess-and-correct `3.0.2` will fix it but you need to use `eslint` 2.x in your project

[2016-09-21 16:56] guess-and-correct commented on #47
@zaggino I did (the `.msi` package).
For what it's worth, when updating ESLint using npm-registry, it threw a couple warnings about npm being too old. Even after updating Brackets to `1.8`, npm-registry is still using `node v0.10.24` and `npm 2.14.5`.

[2016-09-22 06:05] LaneLourcey opened #48 "Legacy node process detected?"
I'm getting an error that says ESLintError: Legacy node process detected (0.10.24), please update to Brackets 1.8 or Brackets-Electron to support ESLint 3.5.0 /*

Now I am running brackets 1.8, so I'm not sure what is going on.

[2016-09-22 06:20] zaggino commented on #48
@LaneLourcey
Brackets team messed up the 1.8 installer, it contains old node instead of new one.
Brackets-Electron won't show the old error.
You can do `npm install eslint@2.x` in your project to keep using eslint 2.x that should work.
Legacy node won't work with eslint 3.x

[2016-09-22 07:13] LaneLourcey commented on #48
Is there any way to figure out what version of eslint-config-airbnb-base I should use with eslint 2.13.1?

[2016-09-22 07:44] zaggino commented on #48
ESLint 3.0 was released on 02/July - https://github.com/eslint/eslint/tree/v3.0.0
According to that, using 9.x should be fine: https://github.com/airbnb/javascript/tree/eslint-config-airbnb-v9.0.1 ... 10.x was released in August and probably requires ESLint v3

[2016-09-22 22:25] #48 closed

[2016-09-24 09:29] UsulPro opened #49 "ESLintError: You need to install ESLint in your project folder...."
I have this error with intalled 3.5.0 eslint (with 2.7.0 everything is Ok)
`Brackets Release 1.8 build 1.8.0-17080`
`Windows 8.1`
[code]

[2016-09-24 23:58] zaggino commented on #49
@UsulPro sadly pre-release installers got messed up, they don't contain node6 as they should but old node 0.10 which is not able to run eslint 3.
You can either:
a) use https://github.com/zaggino/brackets-electron/releases
b) wait for fixed pre-release installers, only people at Adobe can build them

[2016-09-25 04:41] #49 closed

[2016-11-20 18:18] papigers opened #50 "Eslint terminated with an error: [object Object]"
**.eslintrc.json**:
[code]
**package.json**:
[code]

Might be relevant:
[code]

Brackets throws:
`ESLint terminated with an error: [object Object]`

Running `eslint . --ext .js,.jsx` works fine.

[2016-11-21 00:25] zaggino commented on #50
Can you give result of `npm ls -g --depth=0` on the machine?

[2016-11-21 00:48] zaggino commented on #47
This is now fixed with latest Brackets (includes node v6)

[2016-11-21 00:48] #47 closed

[2016-11-21 05:44] papigers commented on #50
No problem:
[code]

[2016-11-21 05:49] zaggino commented on #50
You have `eslint-plugin-jsx-a11y` installed globally, but not in the project. That's why `eslint . --ext .js,.jsx` passes, but extension fails. Extension actually uses what you've installed inside the project, not globally.

[2016-11-21 05:50] zaggino commented on #50
Although I admit the error message should be better, I'll try to replicate and fix it soon.

[2016-11-21 06:00] papigers commented on #50
I do have `eslint-plugin-jsx-a11y` installed, it just was version 3.0.1, which didn't met `eslint-plugin-jsx-a11y@^2.2.3` required by `eslint-config-airbnb`. Anyway, I was trying to uninstall it and install it with the required version, now `eslint list --depth=0` prints:
[code]

Without the peer dependency error.

The error still persists.

Could it be because of the versions mismatch between loc

[2016-11-21 06:04] zaggino commented on #50
Try putting this to your package.json scripts:
[code]
and run `npm run lint`, that should execute eslint from project resources, not from global

[2016-11-21 06:04] zaggino commented on #50
or you can do `./node_modules/.bin/eslint . --ext .js,.jsx` too I think?

[2016-11-21 06:05] zaggino commented on #50
eslint, its configs or plugins should be really installed globally, from my experience it causes problems when switching between projects that use different versions

[2016-11-21 06:15] papigers commented on #50
`npm run lint` worked. I tried to uninstall local eslint, configs and plugins, and brackets now throws:
`ESLintError: You need to install ESLint in your project folder with npm install eslint` (didn't touch global installations)

[2016-11-21 06:24] zaggino commented on #50
I've tried to recreate what you posted above but my error is different, can you give me a sample I can clone/download to replicate this?

![image](https://cloud.githubusercontent.com/assets/1067319/20472632/5662b38c-b00f-11e6-86c4-339784fb7fe3.png)

[2016-11-21 06:25] zaggino commented on #50
Btw be sure to be using latest version (1.8 http://brackets.io/ or 1.9 https://github.com/zaggino/brackets-electron/releases)

[2016-11-21 06:32] papigers commented on #50
I'm running 1.8 brackets.
I've added you as a collab to my project so you could clone it.

[2016-11-21 07:37] zaggino commented on #50
[code]
got 3 warnings
[code]
open with Brackets, switch project to the directory, open a jsx file:
![image](https://cloud.githubusercontent.com/assets/1067319/20474173/570057f4-b019-11e6-820f-413ed6128896.png)

[2016-11-21 07:41] zaggino commented on #50
Change package.json:
![image](https://cloud.githubusercontent.com/assets/1067319/20474290/168ceef2-b01a-11e6-8c85-f5857f14b0ab.png)

Then in shell:
[code]

[2016-11-21 07:41] zaggino commented on #50
To me it seems like extension is consistent with the script.

[2016-11-21 07:43] papigers commented on #50
Any idea why you see the error properly and I don't?

Also, could you try:
[code]
And check for me if that solves the problem, please?

[2016-11-21 07:44] zaggino commented on #50
What node version are you using? Brackets 1.8 contains Node 6.3.1, my pc is 6.9.1. Anything else then 6.x will probably cause different results.

[2016-11-21 07:47] zaggino commented on #50
[code]
Fixed the issue. You can read more about it here: https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/116

[code]

[2016-11-21 07:47] zaggino commented on #50
It also fixed the issue in brackets, be sure to have Node 6 installed on your system.

[2016-11-21 17:57] papigers commented on #50
Updating node solved the problem, thanks!

[2016-11-21 17:57] #50 closed

[2016-12-12 07:47] dermike opened #51 "no-undef Promise"
Hello!

Thanks for this great plugin!
I have a, for me at least, weird problem with it. In Brackets with brackets-eslint I get this error:

`ERROR: 'Promise' is not defined. [no-undef]	return new Promise((resolve, reject) => {`

I don't get the error however when checking it with eslint manually. As far as I can tell I'm using eslint 3.12.0 both globally and in brackets-eslint. My `.eslintrc` is i

[2016-12-12 10:12] zaggino commented on #51
Hi @dermike
have you tried this?
https://github.com/eslint/eslint/issues/4085#issuecomment-220863125

[2016-12-12 10:19] dermike commented on #51
No error with gulp-eslint either, only brackets-eslint

[2016-12-12 10:37] zaggino commented on #51
If you can create a sample project I can clone and replicate the issue I'm happy to take a look. Otherwise I won't be guessing. I use this daily for a large number of projects without issue, although I must admit, all of them have `.eslintrc` in their project root. I have never tried using `.eslintrc` in home directory.

[2016-12-12 10:40] zaggino commented on #51
What's your OS, Mac or Linux? I'm primary a Windows user, not sure if the node domain of Brackets doesn't run under a different user so it can't find the `.eslintrc` in home dir.

[2016-12-12 11:34] dermike commented on #51
I'm on Mac OS. I've created this repo which also includes my `.eslintrc`:
https://github.com/dermike/brackets-eslint-issue

Still getting the no-undef error with brackets-eslint even if it's in the project dir.

[2016-12-12 19:24] zaggino commented on #51
If you have `.eslintrc` in your project, brackets-eslint requires you to have installed `eslint` in your project dir and uses that installation. It only uses global installation when there's no `.eslintrc` defined. Rationale is that if you specify `.eslintrc` file, you also need to install exact version of `eslint` you want to lint with.

When I do `npm install eslint` in your project after clonin

[2016-12-12 19:30] dermike commented on #51
No, I only have it installed globally... installed latest version in the repo now and still the same error. Must be something Mac specific then I guess.

[2016-12-12 19:44] zaggino commented on #51
Have you tried re-installing `brackets-eslint` ?
Latest version should ask you to install `eslint` locally:
https://github.com/zaggino/brackets-eslint/blob/7cf8f61a73edd4c9f1f6d3bb64c71be5784df39d/src/node/eslint.ts#L279-L283

[2016-12-12 19:49] dermike commented on #51
Remove and reinstalled and same error... did not ask me to install locally.

[2016-12-12 20:36] zaggino commented on #51
What version of Brackets are you on? 1.7 or 1.8? I'll check the code why that's the case.

[2016-12-12 22:21] zaggino commented on #51
Try updating to `brackets-eslint@3.0.3`. I can't replicate this so I won't spend any more time on this but feel free to dig around if you want and submit a PR.

[2016-12-13 07:22] dermike commented on #51
Tried with 3.0.3 and it works if I open the project directory in Brackets. Both the undef and ask to install eslint in the project. So this probably worked yesterday too, only had the file from the project open, not the project itself. So try reproducing it if you have another project open, and just open `test.js` separately.

Still getting the error though if I don't have a project local `.eslint

[2017-01-23 06:49] JackPu opened #52 "how to set global eslint configuration?"
I has installed brackets eslint. Is there any way to make eslint rules run in each project when I use brackets like jslint?

[2017-01-24 03:25] zaggino commented on #52
Only `.eslintrc.*` files are supported which are mentioned here: http://eslint.org/docs/user-guide/configuring

Although it could be possible to define some defaults in the editor settings, it's better practice to use `.eslintrc.*` file in the root of your project(s). This way you can easier share the project between users who have different editors.

[2017-01-24 03:25] #52 closed

[2017-01-24 08:43] JackPu opened #53 "ESLint terminated with error: Max connection attempts reached"
![image](https://cloud.githubusercontent.com/assets/4744967/22240012/ffa7213c-e253-11e6-8850-25b745ac46c1.png)

When I installed brackets-eslint, every JS file report this error?Any one else meet the same problem?

[2017-01-24 21:51] zaggino commented on #53
@JackPu the issue is with connection to NodeJS is broken. Check the error console (Debug -> Show Developer Tools) for hints, why that might be.

You can see long discussions about it here https://github.com/zaggino/brackets-git/issues/410 or here https://github.com/zaggino/brackets-git/issues/468 or here https://github.com/zaggino/brackets-git/search?q=Max+connection+attempts+&type=Issues&utf8=%E2

[2017-01-24 21:51] #53 closed

[2017-01-25 03:16] JackPu commented on #53
@zaggino  Thanks a lot.I have solved it.

[2017-02-07 12:10] JackPu opened #54 "eslint-plugin-vue not work?"
I installed `eslint-plugin-vue`. But it dosen't work .

eslint config
[code]

[2017-02-14 01:28] zaggino commented on #54
Hi @JackPu , can you provide a repository that I can clone and test?
What's the error message you're getting?
How does the `package.json` look like?

[2017-02-14 04:01] JackPu commented on #54
@zaggino  Thanks a lot. This is my repository https://github.com/Vanthink-UED/vue-core-image-upload

[2017-02-14 04:28] zaggino commented on #54
[code]
works fine for me:
![image](https://cloud.githubusercontent.com/assets/1067319/22915279/2e27954c-f2ca-11e6-9b49-8932ee091de6.png)

[2017-02-14 04:28] zaggino commented on #54
what version are you using? brackets, brackets-eslint?

[2017-02-14 05:18] JackPu commented on #54
I mean .vue file doesn't work.

Brackets Version: 1.8

Brackets Eslint Version: 3.0.5

[2017-02-14 06:15] zaggino commented on #54
Oh, I see. I can look at this if I can make this work when I'll have some free time, thanks for reporting.

[2017-02-14 06:35] JackPu commented on #54
Thank you so much. 😄💐

[2017-02-15 03:52] zaggino commented on #54
Is there any Brackets plugin that you use for .vue files?

[2017-02-15 11:42] JackPu commented on #54
@zaggino  No one for .vue

[2017-02-16 19:19] sudheeshcm opened #55 "ESLint terminated with an error: [object Object]"
Similar issue - https://github.com/zaggino/brackets-eslint/issues/50

I've created a sample redux-node-app, where I have this issue with brackets editor. Gulp task for eslint works. eslint command line works. npm run lint ("lint": "eslint . --ext .js,.jsx") works.
[code]

[code]

[code]

*Brackets version*: 1.8 build 1.8.0-17108
*Node*: v6.9.2

[code]
Not sure why I get those npm errors in the end

[2017-02-16 19:30] sudheeshcm commented on #55
Tried with the following versions too. Still issue exists.
[code]

[2017-02-16 22:25] zaggino commented on #55
Can you upload your app to github so I can clone it and replicate the issue?

[2017-02-17 06:59] sudheeshcm commented on #55
Sure. I've just started development. You can find this issue in the server code.
https://github.com/sudheeshcm/redux-node-app/tree/development

[2017-03-02 01:58] zaggino commented on #55
Hi, I cloned your repo and opened it in brackets with brackets-eslint without any problems:

![image](https://cloud.githubusercontent.com/assets/1067319/23489674/e927d1a2-ff47-11e6-84ec-e58c5f174100.png)

[2017-03-07 00:45] zaggino commented on #54
Support for this is required from Brackets, opened https://github.com/adobe/brackets/pull/13153

[2017-03-07 01:49] JackPu commented on #54
Thanks a lot.

[2017-03-14 12:50] clouds56 opened #56 "why my brackets complains about it need new version?"
When I would like to install this plugin via Extension Manager, it complains about "This extension requires a newer version of Brackets."
FYI, I'm using macOS and install the brackets (version: Release 1.8 build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4) build timestamp: Wed Nov 02 2016 04:47:30 GMT-0700) via brew cask.

[2017-03-14 14:51] upamany opened #57 "eslint minified files"
Does Eslint works on minified Java script files? If yes then does it need any extra functionality to be added. Currently my ESLINT is not scanning any minified files.

[2017-03-14 20:04] NestorHernandezA commented on #56
Same here

[2017-03-14 20:29] zaggino commented on #56
To install from extension manager you need at least Brackets 1.9, get pre-release here: https://github.com/adobe/brackets/releases

For usage with 1.8, check README file: https://github.com/zaggino/brackets-eslint

[2017-03-14 20:38] zaggino commented on #57
Does eslint executed from command line scan these files?
If yes, can you please submit a small project which replicates this?

[2017-03-15 21:01] zaggino commented on #56
Yes, you can install the ESLint package manually or using brackets-npm-registry.

But there's nothing unstable about pre-release and I'd recommend giving it a chance.

[2017-03-16 18:27] clouds56 commented on #56
All the thing that blocks me from trying 1.9 pre-release is `brew cask` doesn't recognize it. https://github.com/caskroom/homebrew-cask/blob/master/Casks/brackets.rb
But I wonder why there's explicit requirement "brackets >= 1.9"? Is there any compatible issue about 1.8?
I think most people would not stick to old version as long as "the package manager" (which is brew in macOS) notifies that there

[2017-03-16 23:14] zaggino commented on #56
@clouds56 1.8 can't install extensions with npm dependencies (my pr https://github.com/adobe/brackets/pull/10602 was merged for 1.9)

[2017-03-18 06:37] clouds56 commented on #56
Oh, thanks a lot! I'll look forward to the latest 1.9 version.

[2017-04-01 22:24] Nosfy01 commented on #56
Now that 1.9 is globally available, I installed the extension but I am totally unable to configure it (unless I use the comments in the file -> /* global es6 */).

As soon as i use a .eslintrc file it complains that I should run npm install some-eslint-stuff in my project folder. (the link to the example leads to a 404 page by the way)

I just want to use a html, css and javascript file in a folde

[2017-04-01 22:31] zaggino commented on #56
@Nosfy01 go to your project folder (same folder where `.eslintrc` is) and do `npm install eslint`. Extension will use eslint version that it finds in your project.

Reasoning is that extension itself comes with some semi-random version which works fine when you don't have any specific config but when you define a config, you also need to install your own eslint version (not every config would work

[2017-04-20 06:10] tweakimp opened #58 "Dead link in readme"
The first link in the "How to configure" section in the readme is dead (404 not found).

[This one](https://github.com/adobe/brackets/blob/master/.eslintrc.json)

[2017-04-21 18:40] Gwinert opened #59 "Enabling Default Rules?"
Hello, I read through the user-guide, and the read me, and many of the links provided, but I think I need further help activating specific default rules.
To turn on rules, all I need to do is create a "eslintrules.json" file in the "C:\Users\%USERNAME%\AppData\Roaming\Brackets\extensions\user\brackets-eslint\.eslintrules"
Directory? Or do I put these in the ".brackets.json" file in "C:\Users\%USER

[2017-04-22 07:05] zaggino commented on #59
Hi, to configure rules, you need to put normal `.eslintrc` file into this project, like this one: https://github.com/adobe/brackets/blob/master/.eslintrc.js

See more here: http://eslint.org/docs/user-guide/configuring

[2017-04-22 07:07] #57 closed

[2017-04-22 07:08] #56 closed

[2017-04-22 07:08] #55 closed

[2017-04-22 10:57] tweakimp commented on #59
I have similar problems understanding how to apply my own rules. With the post above me I can apply my own rules for one project, but how can I make the same configuration for all projects at the same time, globally for brackets?

[2017-04-26 03:02] zaggino commented on #59
@tweakimp It's not a good idea to allow global configuration. First of all, ESLint doesn't support it. Second, if you configure your rules anywhere but the project itself, and upload that project to github (or anywhere else), anyone that would download that project (including you on a different machine) would have no idea what rules are supposed to be used developing that project. That's why you s

[2017-06-03 06:34] #58 closed

[2017-06-23 13:13] Semaho commented on #50
Hello, I'm running Brackets 1.9 and just updated Node, still have the issue.
I can give more info, just ask!

[2017-06-23 18:33] KonradStuewe opened #62 "Parsing error: Unexpected token function"
I keep getting this error inside brackets:
[code]
But when I try to check it with `eslint` in the command line it works like it should.
This is what my `.eslintrc.json` looks like:
[code]

Since the the readme file say that it "should provide same results as linting in the command line" I would say that this bug.

[2017-06-26 07:30] KonradStuewe commented on #62
I think this was a mistake in my side. I had a ´.eslintrc´ and a ´.eslintrc.json´ each with a different ecma version.

[2017-06-26 07:31] #62 closed

[2017-07-05 18:27] alvint opened #63 "if an ".eslintrc" file is present in a project on Brackets startup, eslint fails"
This is **not** a nodejs project, but the error received is "ESLintError: You need to install ESLint in your project folder with 'npm install eslint'"

General info:
- Brackets version: Release 1.9 build 1.9.0-17312
- macOS version: 10.12.5
- nodejs version (installed by Homebrew, project is not a node project): v8.1.3
- npm version: 5.0.4
- I'm able to reproduce the issue with only the Eslint plu

[2017-07-05 19:28] alvint commented on #63
The error still occurs if Eslint is installed globally.

[2017-07-07 18:54] alvint commented on #63
same issue with Brackets Release 1.10 build 1.10.0-17483

[2017-07-10 08:46] zaggino commented on #63
@alvint When you create `.eslintrc` file for example in `/home/alvint/project1` you need to go to directory `/home/alvint/project1` and do `npm install eslint` in there, not globally.

Reason for this is that different `.eslintrc` configs work with different ESLint versions so you should always have ESLint installed in the project you're working on.

[2017-07-10 13:29] alvint commented on #63
Thanks for the reply (and the many great plugins, BTW).

This is not a Nodejs project, so I'd rather not have to deal with a `node_modules` folder and the other stuff if I can help it.  I also don't want to require that other developers install Node if I can help it, but I **do** want to strongly recommend Brackets and Eslint.

I don't mind if `.eslintrc` is locked to whatever version is in your p

[2017-07-17 16:57] MynockSpit commented on #39
Getting this same issue. Doing --fix from the command line works, but using the both the right-click menu and the option in the edit menu seem not to. No errors in the console, either.

[2017-07-26 19:04] lkcampbell commented on #63
@zaggino, this is a great extension, thanks for your work on it.

I just started using it today and ran into this issue almost immediately. Just to make sure I understand this issue correctly. The only way I can have a local ESLint configuration file is if I am working on a Node.js project?

[2017-07-27 07:27] zaggino commented on #63
@lkcampbell
The only thing you need to do is have node.js installed and do
`npm install eslint@x.y.z` in your project folder where `x.y.z` is your desired eslint version that you want to use with your `.eslintrc` file. In case you don't care about the version, just do `npm install eslint`. It doesn't have to be a node.js project, it can be project in any language, framework, whatever. `npm install

[2017-07-27 12:53] lkcampbell commented on #63
@zaggino, I understand. Is it possible to just use the version of the ESLint that you already supply, like @alvint is suggesting? I realize there might be compatibility problems introduced in the config file but those could be addressed if they arise. Maybe a Brackets preferences to allow it?

[2017-07-28 23:15] tonybrasunas-sighten opened #64 "Better/OK to install this via Brackets Extension Mgr or npm?"
Hi, and thanks for your great work on these extensions.

I notice that this eslint extension is now available on the extensions manager. Is there any reason not to use that and to use the npm installer instead?  If so, perhaps an update to the readme? I can make a PR if that's something you'd appreciate.

By the way, I had a little trouble installing the npm installer (everything went well apparen

[2017-07-28 23:28] tonybrasunas-sighten commented on #64
Never mind, I missed one of the commands to `cd` into the new directory before running npm install 🤦‍♂️

(Point/Question about using the built-in extension remains)

[2017-08-03 01:00] zaggino commented on #64
Hi, npm should always have the latest version.

The extensions manager didn't support npm dependencies (eslint) before, now it doesn't always work. I try to upload new versions there if I can but going the npm way or cloning here from github is a safer option to have the latest code.

[2017-08-03 01:03] zaggino commented on #63
@lkcampbell you can setup a preference which would disable this warning, I'm happy to accept a PR but the default behaviour should stay.

[2017-08-05 00:22] lkcampbell commented on #63
@zaggino, of course. That's why Brackets preferences exist, my friend. Different strokes for different folks and all that.

Thanks for keeping an open mind. I will work on the PR this weekend.

[2017-08-19 00:44] zaggino commented on #63
Fixed in https://github.com/zaggino/brackets-eslint/pull/65
Please see README

[2017-08-19 00:44] #63 closed

[2017-09-04 12:23] ZuoBaogang opened #66 "Dilato: Core: The default version of ESLint is inconsistent with the version in the More info link"
Steps:
1. Launch Brackets
2. Open extension manager
3. Find the ESLint under Default tab then observe the version is 3.0.5
4. Click "More info..."
5. The version is 3.1.0

Result: The default version of ESLint is inconsistent with the version in the More info link

Expect: They should keep consistent
![defaultversion](https://user-images.githubusercontent.com/17721679/30026299-e05bf57c-91ae-11e7-8

[2017-09-04 12:29] ZuoBaogang commented on #66
ESLint appears both under Available tab and Default tab, is this by design?

[2017-09-04 12:33] #66 closed

[2017-09-04 12:48] zaggino commented on #66
cc @swmitra

[2017-09-08 16:29] lkcampbell opened #67 "Typos in README Configuration defaults"
I didn't notice this until after I updated the README in my last contribution.

The preference names in the README are incorrect.

Any instance of `"brackets-eslint.gutterMarks"` and `"brackets-eslint.useLocalESLint"` needs to be changed to `"zaggino.brackets-eslint.gutterMarks"` and `"zaggino.brackets-eslint.useLocalESLint"`, respectively.

[2017-09-09 01:22] #67 closed

[2017-09-09 01:26] zaggino commented on #67
@lkcampbell readme is correct

the extension has `zaggino.brackets-eslint` id when uploaded to brackets registry because some other extension is blocking `brackets-eslint` id

the extension has `brackets-eslint` id when published to npm

[2017-09-09 04:13] lkcampbell commented on #67
@zaggino forgive my ignorance, but have we moved to using npm for extension updates?

[2017-09-09 04:48] zaggino commented on #67
@lkcampbell nope, but for a long time, brackets-eslint couldn't be in brackets registry because it did not support node_modules

i've created https://github.com/zaggino/brackets-npm-registry to go around that, you can use it to install extensions published to npm

i've also done https://github.com/adobe/brackets/pull/10602 which was merged much later after brackets-npm-registry was created

curren

[2017-09-09 04:57] lkcampbell commented on #67
@zaggino just wondering, because I am have been recently getting a certificate security warning from the Brackets registry site.

[2017-09-10 23:10] lkcampbell opened #68 "Version 3.1.1 produces error message"
I updated to the latest version today and all I am getting is the following error message:

`EsLint terminated with error: {1}`

This is happening on both my Mac OS and my Windows Surface.

[2017-09-11 00:29] zaggino commented on #68
@lkcampbell My bad, https://github.com/zaggino/brackets-eslint/commit/cd8a4a41115e6ad9322f8857e9c4316e25858d64 fixes this.

[2017-09-11 00:29] #68 closed

[2017-09-30 13:20] alvint opened #70 "extension error when trying to install eslint"
I'm using Brackets 1.11 and if I try to install eslint I get an "Extension error" message. I tried a clean install of Brackets and installing node.js but that didn't help. If I leave the extension installed anyway and restart brackets, I get this error in the console:

[code]

[2017-09-30 21:15] zaggino commented on #70
Brackets 1.11 includes this extension by default. You can try uninstalling the one in your user extensions.

[2017-10-01 13:25] alvint commented on #70
Cool! I was wondering why the "zaggino" prefix was removed in the preferences.

[2017-10-01 13:25] #70 closed

[2017-10-20 10:44] adambugaj opened #72 "Is defined but never used.[no-unused-vars]"
How can I solve this issue or turn this checkout off? Thanks for help.

`// button required to use
function createContact(firstName) {
  this.firstName = firstName;
  //, lastName, phoneNumber, email
  // this.lastName = lastName;
  // this.phoneNumber = phoneNumber;
  // this.email = email;
}

var sampleContact = {
  firstName: "Bill",
  lastName: "Door",
  phoneNumber: "01 294 323 434",
  email:

[2017-10-25 02:37] zaggino commented on #72
check here https://eslint.org/docs/user-guide/configuring

[2017-11-11 22:17] shaunhurley commented on #63
@zaggino @lkcampbell

Gents, I am encountering this error and found this conversation, which I read with interest.

I am aware of the "brackets-eslint.useLocalESLint" directive in the brackets.json config files, and that I can  do a local "npm install eslint" within a project directory and use a local .eslintrc.json or similar to provide a local configuration for the locally installed instance.

I

[2017-11-13 17:48] alvint commented on #63
Hi, @shaunhurley,

After this fix, adding a `.eslintrc` file to my project folder works for me even though I also don't install ESLint locally. It's not working for you? Or are you trying to create a default config that all projects opened with Brackets use?

[2017-11-13 17:51] shaunhurley commented on #63
It is now that I un-confused myself :)

I misread the intent of the "brackets-eslint.useLocalESLint" directive as "true" == use-an-instance-of-ESLint-installed-in-the-project-directory which is the opposite of what it is actually doing.

[2017-11-13 17:57] alvint commented on #63
Wow, now that you mention it that is indeed really confusing. @zaggino, you may want to consider changing the name, but I guess you can't do that because it would break existing configurations. Maybe adding a synonym and undocumenting the previous directive?

[2017-11-23 19:05] JPcastroforero99 opened #73 "The keyword class is reserved."
Hi, im new in brackets and im working with phaser.js library.
When I try to make a class, brackets send me the message ESLint: The keyword class is reserved.

I need solve that problem fastly, please.

[2017-12-06 09:50] zaggino commented on #73
@JPcastroforero99 you need to specify in `.eslintrc.js` file that you are using ES6, for example:
[code]

[2018-02-13 14:43] ghost commented on #59
I dont understand anything about ESlint,some kind of errors are down in brackets but no point on exact line,think maybe this is a bad idea.

[2018-02-23 09:45] angel-luis opened #74 "Where to config the "env" to add "ES6" compatibility?"
I don't know in what path I've to add the "es6" option, because I've edited some "eslintrc" files (in AppData and node_modules) but it didn't work.

[2018-02-26 09:34] angel-luis commented on #74
I mean globally, if I create the eslintrc file in each project it works.

[2018-03-17 04:01] amarneethi commented on #28
I have this same error. Where do I add this brackets-eslint@2.1.4?
I'm sorry if this is a dumb question I'm new to config files.

[2018-03-17 07:57] zaggino commented on #28
@amarneethi To the `.eslintrc` file in your project. Read more about it here https://eslint.org/docs/user-guide/configuring

[2018-05-06 14:52] AnuragCh2016 commented on #53
@JackPu hey man if you don't mind, how _did_ you solve the issue?

[2018-06-27 07:56] josezulu commented on #63
@zaggino
I just run into this very same issue on Brackets ver 1.13.

With a local .eslintrc file, eslint did not work (would ask me to install locally).
Changing "brackets-eslint.useLocalESLint" from "false" to "true" fixed the issue.

This variable name needs to be renamed to match it's intent, or it's check reversed from true to false.

[2018-07-21 19:37] Tilmn opened #75 "Inline comment config does not work: /* eslint-env browser */"
This is my JS file:
[code]

The comment in the first line should tell ESLint that this is a script for the browser, so it knows that there is a _console_. Here is the ESLint doc: https://eslint.org/docs/user-guide/configuring#specifying-environments

Still I get an error for the second line in the Lint drawer:
ERROR: Unexpected console statement. [no-console] | console.log("Hello");

What am I doi

[2018-07-22 18:55] Tilmn commented on #75
Seems like setting env to browser does not include tolerating the console global.

WHY NOT?? – That’s not an issue for this repo …

[2018-07-22 18:55] #75 closed, assigned to nobody

[2018-09-21 22:41] douira opened #76 "Changing the .eslintrc.json file has no effect on the errors"
Changing the file and reloading/restarting brackets has no effect. It seems like it's using default settings no matter what. The eslint cli works fine and respects changes to the config file as expected but I'd like to use the brackets integration.

[2018-10-19 02:27] BobNVL opened #77 "ESLint terminated with error. [object Object]"
I just downloaded Brackets and I am trying it out. I loaded a .js file, cleaned it up. I'm getting one JSLint warning (not problem) an an ESLint error:

The JavaScript code is:```

[code]
Whar does this message mean and how to I clear the problem?

[2018-11-13 21:06] romanytawfik100 commented on #14
ESLint terminated with error: timeout
--

[2018-11-18 17:25] lfan3 opened #78 "parcing error from eslint: unexpected token )"
I want to use Jquery with brackets.
So i just taped the code:
$(document).ready(()=>{
});
eslint shows me : parsing error: Unexpected token )
How i could debug this problem?

my Eslintrc looks like this:
{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended"],
  "installedESLint": true,
  "rules": {
    "a

[2018-12-11 07:15] ruikle opened #79 "An ESLintError: You need to install ESLint in your project folder with 'npm install eslint'"
It threw that error message when I launched the Brackets 1.13 on MacOS 10.14.1.
Anybody maintain this extension? How do I fix it?
<img width="1280" alt="screen shot 2018-12-11 at 15 15 08" src="https://user-images.githubusercontent.com/7098870/49784264-9f378c80-fd57-11e8-9bd8-9ef09bd9568b.png">

[2019-06-08 23:10] Cammac7 commented on #50
@zaggino I am also having this issue. Running Brackets 1.13, and npm 6.4.1

[2019-06-09 19:40] zaggino commented on #50
@Semaho I don't maintain this project anymore.

[2019-10-05 02:19] nabsta-eth opened #80 "Extension v3.2.0 installation failed "The extension encountered an error while starting up""
I've been using Brackets and this extension for nearly 2 years without issue.  A couple of days ago I started getting "ESLintError: No ESLint cli available, try reinstalling the extension".

Rinstalling gives "Installation failed. The extension failed while starting up."

Brackets version 1.14, ESLint extension v3.2.0, Win10, node.js v8.11.1, npm v6.11.3, react v16.8.6.

I've tried reinstalling Br

[2019-11-09 15:30] AkashGalani commented on #28
ESLint defaults to ES5 syntax-checking. You’ll want to override to the latest well-supported version of JavaScript.

Try adding a .eslintrc file to your project. Inside it:

{
"parserOptions": {
"ecmaVersion": 2017
},

"env": {
"es6": true
}
}

Example [Here](https://icetutor.com/question/eslint-error-parsing-error-the-keyword-const-is-reserved/)

[2020-05-04 12:45] sillytuna commented on #80
Same issue here.

[2020-07-07 21:00] ChrisACD opened #81 "ErrorNotification.js : Cannot find context with specified id"
hello !
i am facing an issue with this message : errorNotification. js : Cannot find context with specified id , i wrote a simple code and I don't know how to handle this issues. any body can help!

$(document).ready(function(){

    var $mainMenuItems = $("main-menu ul").children("li"),
        totalMainMenuItems = $mainMenuItems.length,
        openedIndex = -1,

        int = function() {

[2021-01-09 20:12] Am-per-Sand opened #82 "Is this project cancelled?"
The last supported environment is ES6 = Ecmascript2015. Is any update to more recent releases of eslint planned?